<!DOCTYPE html>
<?php

?>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>test</title>
  <!-- 引入 layui.css -->
  <link href="/static/js/layui-v2.9.7/layui/css/layui.css" rel="stylesheet">
  <!-- 引入 layui.js -->
  <script src="/static/js/layui-v2.9.7/layui/layui.js"></script>
  <script src='/static/js/socket.io_1.3.7_socket.io.js'></script>

<!--   es 查询需要的资源-->
  <link rel="stylesheet" href="/static/css/codemirror/codemirror.min.css">
  <link rel="stylesheet" href="/static/css/codemirror/foldgutter.min.css">
  <link rel="stylesheet" href="/static/css/codemirror/tools.min.css">
  <link rel="stylesheet" href="/static/css/codemirror/theme/dracula.css">
  <script src="/static/js/codemirror/codemirror.min.js"></script>
  <script src="/static/js/codemirror/jsonlint.min.js"></script>
  <script src="/static/js/codemirror/foldjs.min.js"></script>
  <script src="/static/js/codemirror/clipboard.min.js"></script>
  <script src="/static/js/codemirror/fullscreen.min.js"></script>

<!--  加密-->
  <script src='/static/js/crypto-js.min.js'></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">layout demo</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>

      <li class="layui-nav-item layui-hide-xs"><a href="">nav 1</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="">nav 2</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">nav groups</a>
        <dl class="layui-nav-child">
          <dd><a href="">menu 11</a></dd>
          <dd><a href="">menu 22</a></dd>
          <dd><a href="">menu 33</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">
          <img src="/static/imgs/1693032653507.png" class="layui-nav-img" alt="头像">
          tester
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:">Your Profile</a></dd>
          <dd><a href="javascript:">Settings</a></dd>
          <dd><a href="javascript:" id="logout">Sign out</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="side-nav">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">menu group 1</a>
          <dl class="layui-nav-child">
            <dd><a href_bak="/static/html/es.html" class="layui-this">es查询</a></dd>
            <dd><a href_bak="/static/html/test_data_gen.html" >测试数据</a></dd>
            <dd><a href_bak="/static/html/data_show.html">数据展示测试</a></dd>
            <dd><a href_bak="/static/html/upload_test.html">文件上传测试</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">menu group 2</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">list 1</a></dd>
            <dd><a href="javascript:;">list 2</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
        <li class="layui-nav-item"><a href="">the links</a></li>
      </ul>
    </div>
  </div>
  <div class="layui-body">